<a href="https://colab.research.google.com/github/DiegowAngel/Valores-Nulos/blob/main/Valores_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Se importan las librerías necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargamos csv
from google.colab import files
!wget https://github.com/DiegowAngel/Valores-Nulos/blob/main/Ventas_totales.csv
# Utilicé el método wget debido a que me resulta más cómodo que seleccionar el archivo desde mi ordenador

In [ ]:
dt = pd.read_csv("Ventas_totales.csv")
dt.head(5)

In [ ]:
# Se identifican los valores nulos presentes en el programa
v_n=dt.isnull().sum()
v_n

In [38]:
# Limpieza por promedio
dt["tarjetas_debito"]=dt["tarjetas_debito"].fillna(round(dt["tarjetas_debito"].mean(),1))
dt["tarjetas_credito"]=dt["tarjetas_credito"].fillna(round(dt["tarjetas_credito"].mean(),1))
# Se sustituye por medio del promedio, los valores de "tarjetas debito" y "tarjetas credito"

In [ ]:
v_n=dt.isnull().sum()
v_n

In [24]:
# Limpieza por mediana
dt["salon_ventas"]=dt["salon_ventas"].fillna(round(dt["salon_ventas"].median(),1))
# Se sustituye por medio de la mediana, los valores de "salon_ventas"

In [ ]:
v_n=dt.isnull().sum()
v_n

In [25]:
# Sustitución por constante
dt["electronicos_articulos_hogar"]=dt["electronicos_articulos_hogar"].fillna(1838507.096)
# Se sustituye por una constante (1838507.096), esta constante la tomé de la base de datos.

In [ ]:
v_n=dt.isnull().sum()
v_n

In [27]:
# Sustitución por string
dt["subtotal_ventas_alimentos_bebidas"]=dt["subtotal_ventas_alimentos_bebidas"].fillna("Hola soy un string de relleno")
# Se sustituye por string una sola fila "subtotal ventas alimentos bebidas"

In [ ]:
v_n=dt.isnull().sum()
v_n

In [28]:
# Forward fill
dt["otros"]=dt["otros"].fillna(method="ffill")
# Se utiliza el método forward fill, para rellenar parte de las últimas filas faltantes

In [ ]:
v_n=dt.isnull().sum()
v_n

In [29]:
# Backward fill
dt["indumentaria_calzado_textiles_hogar"]=dt["indumentaria_calzado_textiles_hogar"].fillna(method="bfill")
# Se utiliza el método backward fill, para rellenar parte de las últimas filas faltantes

In [ ]:
v_n=dt.isnull().sum()
v_n

In [ ]:
# El cazador de Nans, el DROPNA
# En este punto se utiliza DROPNA debido a que se considera que la cantidad de datos restantes no es tan relevante (son filas con 1 solo dato nulo)
dt=dt.dropna()
v_n=dt.isnull().sum()
v_n